[2016-03-12 10:03] pchomik opened #1 "Add support for skip, options and force"

[2016-03-12 10:05] pchomik opened #2 "Add debug option"

[2016-03-12 10:06] pchomik opened #3 "Add warnings if configuration is incorrect or command finished with error"

[2016-03-12 10:11] pchomik opened #4 "Trigger linter only on save."

[2016-03-13 16:32] #3 closed, assigned to pchomik

[2016-03-13 18:41] #4 closed, assigned to pchomik

[2016-03-13 21:09] #1 closed, assigned to pchomik

[2016-03-14 14:25] #2 closed, assigned to pchomik

[2016-03-14 17:54] pchomik opened #5 "Add information how to install pylama and configure plugin"

[2016-03-14 20:13] #5 closed, assigned to pchomik

[2016-03-18 08:15] pchomik opened #6 "Change underline to show correct place where is problem"
In current state whole line is selected. Linter should select only place where is a problem +- 2 pixels (as option in settings)

[2016-03-18 08:17] pchomik opened #7 "Lint action should be defined by user"
User should be able to choose when linter should lint the file (after save, after aby change).

[2016-03-18 08:20] pchomik opened #8 "Documentation should be moved to other project."
Documentation (gifs) are larger than whole plugin. The idea is to move it to separate project and speed up whole instalation.

[2016-03-18 09:31] #8 closed, assigned to pchomik

[2016-03-18 10:53] #7 closed, assigned to pchomik

[2016-03-19 13:57] #6 closed, assigned to pchomik

[2016-03-20 08:53] pchomik opened #9 "Update documentation"
Add information about new settings and performance when after change is selected.

[2016-03-20 08:54] pchomik opened #10 "Define order of items in plugin settings"

[2016-03-21 09:27] pchomik opened #11 "Add space between error code and message"

[2016-03-21 09:28] pchomik opened #12 "Some lines doesn't have underline"
Some errors like syntax error or indentation error doesn't show underline.

[2016-03-21 19:23] #11 closed, assigned to pchomik

[2016-03-21 19:30] #12 closed, assigned to pchomik

[2016-03-21 19:56] #10 closed, assigned to pchomik

[2016-03-22 19:50] #9 closed, assigned to pchomik

[2016-03-23 10:23] pchomik opened #13 "pep8 should be set as last to show all errors propetly"

[2016-03-23 10:24] pchomik opened #14 "pyflakes doesn't return error code for all errors"

[2016-03-23 20:26] pchomik commented on #13
Implemented in d9670ec8babb47cf5711e57c5d08dc6705c24eab

[2016-03-23 20:26] #13 closed, assigned to pchomik

[2016-03-23 20:56] #14 closed, assigned to pchomik

[2016-03-29 07:40] pchomik opened #15 "Linter underline disappears after double save action"
Lint process is triggered twice after save action. In such case linter underline disappears.
Possible fix: disable one lint action and allow to run only single lint action.

[2016-03-29 19:07] #15 closed, assigned to pchomik

[2016-03-30 09:28] ghost opened #16 "Error while Lint Trigger after Change"
Thanks for the amazing package!

The error appears only when the Lint Trigger includes a 'Change' option. Linting works otherwise and there are no issue when it's set to Lint only after Save. Every time I type I get one or more of the following errors:

TypeError: Path must be a string. Received null
    at assertPath (path.js:8:11)
    at Object.posix.join (path.js:477:5)
    at LinterPython.lint

[2016-03-30 11:10] pchomik commented on #16
@JLCCI What atom and plugin version you are using?

[2016-03-30 18:19] pchomik commented on #16
I made few tests with atom 1.5.4 and plugin 2.1.6 and I can't reproduce your problem. Please try update plugin because error looks similar to something what was fixed in 2.1.6 version.

[2016-03-30 18:26] pchomik opened #17 "Remove option "Lint only after change""
Based on current linter and atom API it easy to discover two types of operation:
- lint after save (file is not modified)
- everything else
  "Lint after change and lint after save" are part of second group. The problem is that I'm not sure how to discover lint after change only.

Test scenario:

[code]

For such lint process we have lint after change but file status is "not modified". From plugin

[2016-03-31 00:37] ghost commented on #16
Thanks for a prompt reply. I have a fresh install of both Atom (1.6.0-1, stable) and linter-python (2.1.6) on Linux. Perhaps it has something to do with a newer version of Atom?

[2016-03-31 05:40] pchomik commented on #16
I found the place where bug could appear. Problem may appear if project is not available in atom editor but only file is opened. I will fix that in 2.1.7.

Workaround for now: Please open directory where edited file is available. Problem should disappear.

[2016-03-31 06:22] ghost commented on #16
That seems to fix the problem, thanks for the quick workaround. Looking forward to the updated version of the package, it's amazingly useful!

[2016-03-31 06:46] ghost commented on #17
Just understood the options and what the issue is. Perhaps it would be good to have flags that are a bit easier to understand? Something such as "Lint trigger": "File save", "File modify" (this would include saving and modifications).

[2016-03-31 18:29] pchomik commented on #17
What do you think about "Lint trigger": "File saved", "File modified", "File saved or modified"? Is it clear enough for you what this option does/change?

[2016-03-31 18:32] pchomik opened #18 "Add tests/spec for plugin"
Tests are needed without discussion but first I need to learn how to write good tests in javascript.

[2016-04-01 03:25] ghost commented on #17
I think that sounds nice and clear. On a slightly unrelated note, you did mention that different order of linters give slightly different results. Does the optimal order is already implemented in your package?

Also, thanks for the fast update of the package!

[2016-04-01 04:16] ghost commented on #17
Also sorry to bother but did the last update solved the issue in the topic that was removed? I have just updated but get the same error message (opening the folder does solve it).

[2016-04-01 04:24] pchomik commented on #16
Could you retry with latest version and after editor restart? I was able to reproduce your problem and problem disappers after last commit.

In case of error please paste full error message from 2.1.7 plugin.

[2016-04-01 04:38] ghost commented on #16
Apologies, restart solved the problem. :) Thank you.

[2016-04-01 04:38] #16 closed, assigned to pchomik

[2016-04-01 07:41] pchomik commented on #17
Optimal order is used in package. I reported error to pylint because I discovered that some problems could be hidden. But this is related only to pylint.

[2016-04-05 11:31] ghost commented on #17
Great, thanks for letting me know and making it easier for everyone to avoid the issues.

[2016-04-30 21:27] pepjo opened #19 "Using python installed in "ubuntu on windows 10""
At last build Microsoft introduced a way to execute linux on windows.

Would it be possible to use the python installed on linux from atom?

NOTE: to execute a python script from the windows shell one would have to:
`bash -c "python script.py"`

[2016-05-02 11:36] pchomik commented on #19
I don't see a problem to add support for that. I will propose some change in next week.

[2016-05-08 18:43] pchomik commented on #19
@pepjo Could you check my pull request?

I added new Shell Command option to support your request. I'm not sure how Shell Command should look like. If bash is available as global command everything should work properly with example from Settings page. Please try and let me know.

[2016-05-10 04:48] boubouhkarim opened #21 "ENOENT: no such file or directory !"
Hi,
i got this message window every time i save my python file

`ENOENT: no such file or directory, open '/tmp/input116410-1311-g9h5ic'
ENOENT: no such file or directory, open '/tmp/input116410-1311-g9h5ic'
Hide Stack Trace
Error: ENOENT: no such file or directory, open '/tmp/input116410-1311-g9h5ic'
    at Error (native)
`

[2016-05-10 07:57] pchomik commented on #21
Could you check your case with plugin option "Lint Trigger" set to "Lint only after save" ?

[2016-05-10 15:54] boubouhkarim commented on #21
Thanks, for replaying,
The `Lint Trigger` option is already set to "`Lint only after save`". _i'm keeping the default options_
i got this error when saving python file with some errors or warning.

i don't have any problems with the /tmp folder in my Archlinux.

the plugin try to create a new file each time there is new errors on the file
for example
`ENOENT: no such file or directory, open '/tmp/

[2016-05-12 13:58] linickx opened #22 "links for error codes?"
[Feature Request]

Is it possible to make the error codes hyperlinks (_clickable_)?

![python-linter](https://cloud.githubusercontent.com/assets/649661/15217025/91f2e0d0-1851-11e6-8f25-9596304f4831.png)

The [implementation in linter-shellcheck](https://github.com/AtomLinter/linter-shellcheck/blob/master/lib/main.coffee#L7) works really well....

![shellcheck-linter](https://cloud.githubuserconten

[2016-05-12 16:35] pchomik commented on #22
Hi,

Feature accepted. Api allows for that and shoud be easy to add some links.

[2016-05-12 18:18] pchomik commented on #21
Today I had the same situation. Problem disappear after project change. IMO this is related to project and file location.

[2016-05-12 18:32] pchomik commented on #22
I found that pylama errors are distributed across multiple projects e.g
- pep8: http://pep8.readthedocs.io/en/latest/intro.html#error-codes
- pep257: http://pydocstyle.readthedocs.io/en/latest/error_codes.html
- pyflakes (flake8): http://flake8.readthedocs.io/en/latest/warnings.html
- pylint - ???
  If you look into project documentation most problems are described by one line sentence.

What kind

[2016-05-12 19:09] linickx commented on #22
Hi, I don't mind helping with that. I guess you just need to set a standard.

IMHO the choices are either a wiki page per error. e.g.
- title: pep8 E101 url: `pchomik/linter-python/wiki/pep8-e101`
- title: pep8 E121 url: `pchomik/linter-python/wiki/pep8-e121`
- title: flake8 F401 url: `pchomik/linter-python/wiki/flake8-f401`
- title: flake8 F823 url: `pchomik/linter-python/wiki/flake8-f823`

or on

[2016-05-13 07:01] pchomik commented on #22
I'd like to have pages per tool. Error codes may overlap.
I'd like to start with .rst or .md file from the beginning. I will be able to create basic structure for this feature but whole content must be created by community via pull requests.
I think I will be able to show something next week. Let's see.

[2016-05-13 08:44] linickx commented on #22
Actually that's what I meant :flushed:

As Wiki's are .md repo's in github; to get you started, I have created [pep8](https://github.com/linickx/test/wiki/pep8) and [flake8](https://github.com/linickx/test/wiki/flake8) in my test repo, a bit of regex on the rst to make markdown wasn't that painful.

[2016-05-13 08:59] pchomik commented on #22
Some time ago I made decision to put documentation into separate project (https://github.com/pchomik/linter-python-doc) because images size was much more bigger than whole plugin code. We can use it to put error codes documentation.

If you like you can add .md files there as pull request. Than everyone will be able to join (User cannot create pull request for Wiki on github).

At least this is my

[2016-05-17 16:33] linickx commented on #22
Hi, Last `.md` created in PR pchomik/linter-python-doc#3 , you should be good to go 😎

[2016-05-17 20:12] pchomik commented on #21
I tried to reproduce your error and I can't. @boubouhkarim do you have this error?
If yes please set "debug" flag in plugin and provide output from dev tools console.

[2016-05-18 17:57] pchomik commented on #22
Thanks a lot. I have more than enough to start.

[2016-05-19 02:01] boubouhkarim commented on #21
hi,
i made a noise.py file, andi checked the atom debugger, there is no weird things :
`

[code]

`

but i still have this nice modals
check this pictures to have ab idea what i'm talking about

http://i.imgur.com/qtoxvrS.png

Thanks for the great and very helpful plugin (y)

[2016-05-19 04:56] pchomik commented on #21
1. There is button "Show stack trace". Please show this stack trace.
2. Could you try to move your .atom folder and try with fresh atom installation with linter-plugin only.

[2016-05-30 20:51] pchomik commented on #21
Any update ?

[2016-06-03 02:10] boubouhkarim commented on #21
Hi
i'm sorry, i was a little bit out.

i tried to reproduce the error with the same old project, but i couldn't get this errors,

i didn't change much, but i keep installing updates, you know about Archlinux.

so my be the latest version of Atom has fixed the problem.

I'll notify you if there is any news about this bug

[2016-06-21 12:50] crucialfelix opened #23 "Please do not disable console.log"
It seems that this package is disabling console.log for everything in Atom. The message posted to the console (just before it does it) suggests that just Linter-Python will not print debug; but it doesn't suggest to me that it's going to just hack off console.log and affect all other packages in Atom.

[code]

It would be much better if you could change your implementation so that enableDebug just

[2016-06-22 06:55] pchomik commented on #23
Hi,

You are right. This is a hack and I missed the possible impact. How critical is your request?
I'm asking because I'm in the middle of refactoring and I would like to finish it without middle work. Could you wait week for such fix?

[2016-06-22 06:56] pchomik commented on #21
Issue is not visible now. Please reopen ticket is problem appears.

[2016-06-22 06:56] #21 closed, assigned to pchomik

[2016-06-22 10:23] crucialfelix commented on #23
I just turned on enableDebug, so it is fine for me now. It was just frustrating because it took a long time to figure out why console.log did nothing.

[2016-07-18 20:10] pchomik commented on #23
Change available in 3.0.4

[2016-07-18 20:10] #23 closed, assigned to pchomik

[2016-07-18 20:10] pchomik commented on #22
Change available in 3.0.4

[2016-07-18 20:10] #22 closed, assigned to pchomik

[2016-07-18 20:10] pchomik commented on #17
Change available in 3.0.4

[2016-07-18 20:10] #17 closed, assigned to pchomik

[2016-07-22 09:41] pchomik opened #25 "Remove underline options"
Options:
- Underline Type
- Underline Size
  are not needed because Atom API was used to calculate underline size.

[2016-07-22 09:43] pchomik opened #26 "Regenerate plugin examples"
Plugin examples should be regenerated because e.g. settings window changed.

[2016-07-26 10:51] eguiraud opened #27 "linter-python stopped returning errors after updating from 2.1.7 to 3.0.4"
Uninstalling the latest version and re-installing 2.1.7 reverts the package to its correct behaviour.

When I say stopped returning errors I mean that, while working, it is as if everything I write is correct ("no issues is displayed..as if :P).

Enabling debug for this package and checking the console, this is the output (for a file with several trivial errors that can be found by pylama and pyfl

[2016-07-27 05:58] pchomik commented on #27
"RAW OUTPUT" is an output from pylama application. Tool returns empty string - no errors.
Is it possible to see foo.py script? Could you change plugin setting "Lint Trigger" to "File saved or modified"?

[2016-07-27 07:54] eguiraud commented on #27
Here are some more screenshots, taken right now, at seconds of distance, on a Dell XPS 13 laptop with an up-to-date installation of Ubuntu 14.04. I use i3 window manager.
`Atom --version` gives

[code]

The output of `which pylama` corresponds to the value in the "Executable Path" setting of linter-python.

linter-python settings:
![bugoptions](https://cloud.githubusercontent.com/assets/10999034/1

[2016-07-27 08:01] pchomik commented on #27
Thanks for all details. I will check what is going on.

[2016-07-28 07:17] pchomik commented on #27
I'm not able to reproduce this error in my environment:
Test File:
![image](https://cloud.githubusercontent.com/assets/1779381/17204089/af94997e-54a3-11e6-8140-e35a2915a5c3.png)

Debug Log:
![image](https://cloud.githubusercontent.com/assets/1779381/17204077/9d10bcba-54a3-11e6-836d-014f8027bf6a.png)

In addition please execute following commands and provide results:

[code]

[2016-07-28 15:17] eguiraud commented on #27
We might be onto something here:

[code]

The other outputs:

[code]

[2016-07-28 15:26] eguiraud commented on #27
the fact that my pylama installation did not recognise the `--sort` option made me think I had an outdated version of pylama installed.

`pip install --upgrade pylama` updated it from version 3.0.2 to version 7.0.9, solving the problem.

I have no idea why conda installed such an old version of pylama and never updated it, but now everything works fine.
You might want to add to the documentation a

[2016-07-28 18:21] pchomik commented on #27
Great news. I will add such information in 3.0.5 version (next update)

[2016-07-29 05:20] pchomik opened #28 "Plugin should return null if validation was not executed"
In current state plugin returns empty array if linter exit without validation. After that linter cleans all errors. IMO old errors should stay if validation was not executed.

There are at least two solutions:
1. Remember errors and return them if validation was not triggered
2. Return null if validation was not triggered

First investigation shows no impact when null is returned. I will double ch

[2016-07-29 16:49] Arcanemagus commented on #28
Just a note that `linter` itself keeps track of the messages, returning `null` should be sufficient. Is that going to cause any issues @steelbrain?

[2016-07-29 16:51] steelbrain commented on #28
@Arcanemagus Returning `null` has the same effect as returning an empty array. If he wants the errors to stay if the validation was not run, he should store the last results in a var and return that var instead of null

[2016-07-29 19:42] pchomik commented on #28
I can introduce some kind cache functionality and return previous result. In other hand I did small test and returning null value has different effect than empty array. Linter cleans previous messages if empty result is returned and do nothing when null is returned.
During my 3 days test I was not able to find any side effect.
What is your idea/recommendation?

[2016-07-30 01:47] steelbrain commented on #28
Which version of linter are you using? It's really odd that linter doesn't clear previous results when you give it null, I don't remember writing that functionality

[2016-07-30 19:49] pchomik commented on #28
The linter version is 1.11.14

[2016-07-31 06:35] steelbrain commented on #28
Wow, you're right. Thanks for the report man, don't know how it slipped under my radar. I've pushed the fix and it'll be included in the linter major linter release (major because we don't want to break current behavior)

[2016-07-31 18:58] pchomik commented on #28
Now decision is simple. I will adapt plugin.

[2016-07-31 19:04] steelbrain commented on #28
Yeah sorry we have to keep the unexpected behavior count low to resolve any confusions. Because while you knew returning null doesn't update result, any other person would think it equals empty array aka no result. So doing this will now allow consistent behavior and less confusion, hope it makes sense :)

[2016-08-01 05:21] pchomik commented on #28
No problem. I understand the reason. Plugin change was simple and is almost ready.

[2016-08-01 20:54] pchomik commented on #28
3.0.5 released

[2016-08-01 20:54] #28 closed, assigned to pchomik

[2016-08-01 20:54] pchomik commented on #27
3.0.5 released

[2016-08-01 20:54] #27 closed, assigned to pchomik

[2016-08-01 20:54] pchomik commented on #26
3.0.5 released

[2016-08-01 20:54] #26 closed, assigned to pchomik

[2016-08-01 20:54] pchomik commented on #25
3.0.5 released

[2016-08-01 20:54] #25 closed, assigned to pchomik

[2016-09-11 03:42] Bibliofile opened #29 "Errors missing from panel"
I'm not sure what's causing this issue, other linter-\* packages are correctly showing errors & warnings. Please let me know if I'm missing something obvious. linter-pep8 works, but I would rather use this package due to the options provided.

The package, so far as I can tell, correctly gathers the required errors.

Windows 10
pylama 7.1.0
python 3.5.2

![capture](https://cloud.githubusercontent.

[2016-09-11 20:52] pchomik commented on #29
IMO this is related to column number. Calculated value for atom is -1. Probably is invalid.
I'm not sure why atom did not display error about invalid number but I will check that.

[2016-09-11 21:25] pchomik commented on #29
I used latest atom and your environment and I don't see a problem.
Could you use code form #30 pull request (or issue29 branch) and provide new debug logs?

[2016-09-20 07:14] pchomik commented on #29
Cannot reproduce

[2016-09-20 07:14] #29 closed, assigned to pchomik

[2016-11-05 22:26] RenaKunisaki opened #31 ""Execution finished with error" notification when file has bad indent"
If a class method, having a docstring more than one line long, is indented too far, an error message notification is shown every time the file is saved (even if not modified).

Test case: (notice `def foo` is indented one tab too far)
[code]

The message goes away when `linter-python` package is disabled.

[2016-11-09 06:55] pchomik commented on #31
Thanks for report. I will look into this next week.

[2016-11-30 17:39] timotree3 opened #32 "Plugin crashes without a pylama.ini file"
Because you pass the `-o` option to the `pylama` program it won't run without a config file.
EDIT: I just checked the dev console and you don't pass the `-o` option by default.

[2016-11-30 17:43] #32 closed, assigned to nobody

[2016-12-06 23:28] tcawlfield commented on #31
I see

any time there are any errors or recommendations found by pylama. I don't yet see when/if exit codes were implemented in pylama, but runner.ts (using child-process-es6-promise) handles non-zero exit codes as an exception. I don't know enough Javascript to fix this myself, but I can hack pylama to always exit with 0. When I do that the problem goes away.

[2016-12-24 00:13] ghost opened #33 "not working (only pop-up)"
I installed the linter-python and did everything I should do.
When I modify a file and save it with an syntax error, I don't get any underlines or circles in the left or whatever, I just get a red pop-up on the upper right corner saying:
"Execution finished with error:

Error: spawn EACCES"

I don't know a lot about programming and how the computer works so I might have done something wrong.. but

[2017-02-06 11:03] pkopac commented on #31
I can confirm. Getting the same error, no linting in the editor. When I run debug mode, extract the command and run it in the console, it works as expected. Output from windows cmd follows:
[code]

[2017-03-12 16:15] Zebradil commented on #31
#34 fixed it for me.

[2017-03-13 00:53] AntoineLevesque commented on #33
I have the same issue.

[2017-03-13 16:36] Arcanemagus commented on #33
Usually when you are getting this you have set a _directory_ in the "Executable Path" setting, instead of the full path of `pylama`.

[2017-03-13 20:12] pchomik commented on #31
New version of plugin was released.

[2017-03-13 20:12] #31 closed, assigned to pchomik

[2017-03-13 20:22] pchomik commented on #33
I tried to reproduce your error on Ubuntu machine and I was not able to reproduce it.

Could you do few steps to show what is going on:
* Enable "debug" option in plugin settings
* Press CTRL+SHIFT+I to open development tool window
* Press CTRL+SHIFT+F5 to reload window
* Open your python file and reproduce error

After that please provide Console output. Plugin should print many information about

[2017-03-22 12:49] PaulEcoffet opened #35 "Docstring pep257 are often contradictory"
There are several case of warnings that are contradictory with pep257.

For instance, D203 "1 blank line required before class docstring" and D211 "No blank lines allowed before class docstring" are mutually exclusive.

It is also the case for D212 "Multi-line docstring summary should start at the first line" and D213 "Multi-line docstring summary should start at the second line".

I have therefor

[2017-03-22 13:45] blakawk opened #36 "Not showing anything"
Just followed installation instruction and nothing works. Enabling debug information show that pylama is correctly running on my files and detectings issues, but nothing is shown in Atom.

linter-python 3.1.1
linter 2.1.0
linter-ui-default 1.2.1
atom 1.15.0
![atom](https://cloud.githubusercontent.com/assets/1149069/24200705/3aa073c4-0f0e-11e7-919a-0027b1ed3d0a.png)

[2017-03-23 21:30] pchomik commented on #35
Pylama uses pydocstyle lib to check pep257. Could you run command
[code]
and confirm if mentioned problems appear?

[2017-03-24 08:12] c2xbrhdj6u4qs15 opened #37 "Error running Python Linter TypeError: Cannot read property 'getPath' of undefined"
Hi,

I am getting the following console Error "**[Linter] Error running Python Linter TypeError: Cannot read property 'getPath' of undefined(…)(anonymous function) @ /Users/username/.atom/packages/linter/lib/linter-registry.js:177**".

OS: OS X El Capitan 10.11.6
Atom Version: 1.15.0 (x64)
Installed Packages:
Community Packages (24) /Users/username/.atom/packages
├── atom-beautify@0.29.17
├── atom

[2017-03-24 09:52] PaulEcoffet commented on #35
Here is the output I got:

[code]

I am using Pylama 7.3.3. I think the issue is coming from there. Thank you for your help.

[2017-03-26 10:47] dennypenta opened #38 "async list comprehension"
Good day.
code like below is highlighted  as syntax error that isn't correct:
`objects = [i async for i in self.to_list(cursor)]`

[2017-03-27 18:27] pchomik commented on #35
@PaulEcoffet Could you report this issue in pylama project and close it here ?

[2017-04-03 11:42] Andretalik opened #39 "Object.dirname is deprecated."
Argument to `path.dirname` must be a string
[code]

[2017-04-03 16:30] Arcanemagus commented on #39
@pchomik Looks like you need a check before [this line](https://github.com/pchomik/linter-python/blob/e7e56be9a73e6deb4242ab864b73046170914aa3/src/linter.ts#L43) to make sure that `filePath` isn't `undefined`.

(Also, there is no need to pass in a `TextEditor` to `calculateProjectDir` as you are just using it to get the same value being passed in as `filePath`.)

[2017-04-10 20:37] pchomik commented on #38
Hello. Thanks for issue. I will into this soon.

[2017-04-10 20:38] #35 closed, assigned to nobody

[2017-04-10 20:39] pchomik commented on #33
@goodmj97 @AntoineLevesque any news about this issue. Could you provide more detailds?

[2017-04-11 07:23] c2xbrhdj6u4qs15 commented on #37
Hi,

Issue still persists, getting the following error message in the Atom Console:

[Linter] Error running Python Linter TypeError: Cannot read property 'getPath' of undefined(…)(anonymous function) @ linter-registry.js [sm]:144linter-registry.js [sm]:144 [Linter] Error running Python Linter TypeError: Cannot read property 'getPath' of undefined(…)(anonymous function) @ linter-registry.js [sm]:14

[2017-04-11 07:35] c2xbrhdj6u4qs15 opened #41 "Uncaught (in promise) Error: Line number (322) greater than maximum line (321)"
Hi,

I am also getting this error in the Console:

/Users/username/.atom/packages/linter-python/node_modules/atom-linter/lib/index.js:165 Uncaught (in promise) Error: Line number (322) greater than maximum line (321)(…)

Not sure if this is related to the other issues [(#37)](https://github.com/pchomik/linter-python/issues/37) I opened.

Regards

[2017-04-11 10:49] pchomik commented on #37
Could you check code from #40 pull request?

[2017-04-12 08:20] c2xbrhdj6u4qs15 commented on #37
Hi,

Are suggesting to replace the following Line in "src/linter.ts":

`let textEditor = atom.workspace.getActiveTextEditor();`

with:

`let textEditor = atom.workspace.isTextEditor(textEditor);`

Regards

[2017-04-12 09:58] pchomik commented on #37
Thanks for proposition. Does code from #40 pull request fix your issue?

[2017-04-13 05:43] c2xbrhdj6u4qs15 commented on #37
I updated Atom to Version 1.16.0 and replaced the following line in the src/linter.ts as suggested in [#40](https://github.com/pchomik/linter-python/pull/40):

`let textEditor = atom.workspace.getActiveTextEditor();`
with:
`let textEditor = atom.workspace.isTextEditor(textEditor);`

So far no error's, but needs further testing.

Regards

[2017-05-18 09:49] MatteoRagni commented on #37
For me it still raises an error, due to the fact that [`lib/linter.js:27`](https://github.com/pchomik/linter-python/blob/master/lib/linter.js#L27) is `undefined` if the current active tab is not a TextEditor (for example, I open the editor and the tab is the setting tab). It should be checked if `textEditor` is `undefined`, before running `getPath`.

[2017-05-18 16:24] Arcanemagus commented on #37
@MatteoRagni The code in #40 specifically adds a check against that.

[2017-05-19 05:31] ghost opened #42 "Adding isort support"
Great work with the linter! Any chance of adding isort check as is implemented in linter-pylama? I don't mean the isort function (thought that would be great) but rather isort error highlighting.

[2017-05-21 18:53] c2xbrhdj6u4qs15 commented on #37
Issue still persisted even after I installed the suggested fix. I just got fed up and uninstalled the package. Now I am using package linter-flake8 and all works fine.

[2017-05-22 11:51] MatteoRagni commented on #37
@Arcanemagus no the code in #40 does not fix the issue, that it is still present when dealing with settings tab.

[2017-05-22 19:18] razerraz commented on #37
I have the same issue, but only on a virtual folder linked to sftp access (gnome gvfs mount)
On local hard drive it seems to work as espected on validation
If it can help...

[2017-05-22 21:05] pchomik commented on #37
I was able to reproduce only simplest case. After change in #40 I'm not able to generate case where getPath error appears. I will release new version of the plugin.

It will be great if you could update plugin after release and test your case one more time.

[2017-05-22 21:19] pchomik commented on #37
New version was released: 3.1.2

[2017-05-22 21:24] pchomik commented on #41
I can image such case when you use option lint trigger "File modified".
Plugin returns error about line 322 but in the middle of communication between linter-python and linter line 322 was removed. Than such error may appear.

I'm not sure if I can do anything about this.

@c2xbrhdj6u4qs15 can you describe scenario to help to reproduce issue?

[2017-05-22 21:34] pchomik commented on #42
Implementation looks simple but I cannot promise when it will be added. Please cross the fingers.

[2017-05-22 21:36] pchomik commented on #33
I'm closing issue because there was not response.

[2017-05-22 21:36] #33 closed, assigned to pchomik

[2017-05-23 03:28] ghost commented on #42
Many thanks for considering this!

[2017-05-23 06:07] c2xbrhdj6u4qs15 commented on #41
No worries. The issue described above appeared after an update of either linter or linter-python. You can close this Issue, since the error doesn't appear anymore.

[2017-05-29 20:39] #37 closed, assigned to nobody

[2017-05-29 20:40] pchomik commented on #39
Should be fixed by #40

[2017-05-29 20:40] #39 closed, assigned to nobody

[2017-05-29 20:41] #41 closed, assigned to nobody

[2017-05-29 20:41] pchomik commented on #36
@blakawk could you check with latest version?

[2017-05-30 07:46] blakawk commented on #36
@pchomik I just checked still nothing displayed. It seems to me that the issue is coming from the fact that, on Win32 platforms, pylama.exe output is separated with CRLF, while the plugin seems to expect LF to parse the messages.

Version information:
Python 3.5.2
pylint-1.7.1
pylama-7.3.3
pylama-pylint-3.0.1
Atom 1.17.0 ia32
linter-python 3.1.2
linter 2.1.4
linter-ui-default 1.6.0

[2017-06-06 18:47] #36 closed, assigned to nobody

[2017-06-13 18:40] kura opened #44 "Virtualenv support"
Could you add in support for virtualenv? It's basically a bad idea to ever develop Python without using separate virtual environments, especially when working with multiple projects, each with different requirements.

I bypassed the problem by installing pylama in to it's very own virtual env and specifying that bin location within the config of this linter, but it bugs me and I've had different r

[2017-06-18 21:20] pchomik commented on #44
Thank you for idea and report.
I have to double check your proposition.
In meantime you can look into pyenv:
* https://github.com/pyenv/pyenv
* https://github.com/pyenv/pyenv-installer

With this tool you are setting /home/user/.pyenv/shims/python path and pyenv will handle rest for you.
From what I found "shims" directory is something dynamic in pyenv. Content based on current directory.

Neverth

[2017-06-18 21:25] kura commented on #44
I don't actually really like pyenv and so don't use it. I use virtualenv, virtualenvwrapper, pipsi and tox depending on what I'm doing. If I activate a virtualenv by hand and call ``atom-beta .`` or ``atom .`` then atom will launch and the linter will work, but if for instance I have an editor instance open and I open another project, the editor will not have the right context. Because I haven't e

[2017-06-19 05:12] pchomik commented on #44
Helps a lot. This atomenv plugin looks promising to introduce new functionality and support your request.

[2017-06-19 10:47] kura commented on #44
Sweet! Yeah, that package is super useful, for me anyway. Can dump a ton of information in to the editor, although it'd be all but useless without https://atom.io/packages/auto-run.

[2017-07-30 06:53] ghost opened #45 "Adding yapf support"
Any chance for adding support for yapf mage by Google? There is already a package on Atom but having it all in linter-python would be much nicer. Think it would be easy to implement? Thank you!

https://github.com/blacktop/atom-python-yapf

[2017-07-30 06:54] ghost commented on #42
Any progress of this? I think we could borrow the code from python-pylama which has it built-in.

[2017-07-31 17:44] ghost opened #46 "Adding mypy support"
Apologies for adding another request but think that together with isort and yapf it would make linter-python the most complete standalone linter for python. Mypy is a bit different as it deals with static typing - so it should probably be optional. Still very useful!

Thank you for considering this. There is an implementation on Atom but would be great to have it as one, up-to-date package.

https

[2017-08-02 08:53] Chenlonw opened #47 "I exactly do the same configuration, linter-python does not work"

[2017-08-02 08:57] #47 closed, assigned to nobody

[2017-08-03 13:39] ghost commented on #45
Probably too tricky, better to leave it as a formatter.

[2017-08-03 13:39] #45 closed, assigned to nobody

[2017-08-03 13:39] ghost commented on #46
Since not many people would use it maybe using linter-mypy would be wiser.

[2017-08-03 13:39] #46 closed, assigned to nobody

[2017-08-03 13:40] ghost commented on #42
Since linter-pylama has it there is probably no point in adding it here. Thanks!

[2017-08-03 13:40] #42 closed, assigned to nobody

[2017-09-15 17:08] wiktor-grochal opened #48 "DeprecationWarning: Calling an asynchronous function without callback is deprecated."
hi, i got following error when trying to run your package. In user interface it doesnt show anything.

[code]

[2017-09-19 05:24] yi-ge opened #49 "linter-python does not work in mac , atom 1.20.0"
<img width="599" alt="wx20170919-132151 2x" src="https://user-images.githubusercontent.com/6657330/30576910-ac4ffc10-9cd0-11e7-8624-f6106b58cac5.png">
<img width="565" alt="wx20170919-132218 2x" src="https://user-images.githubusercontent.com/6657330/30576921-bc3ec908-9cd0-11e7-8509-9204d6066871.png">
<img width="780" alt="wx20170919-132211 2x" src="https://user-images.githubusercontent.com/6657330

[2017-11-01 09:37] aaa34169 opened #50 "pylama.ini windows 7 installation"
hello and thank for your package.

I get used to work with spyder and decided to change for Atom.
beforhand, i installed the atom package : linter
Ithen  followed your installation guideline and i am struggling on one point : pylama.ini or binaries .
where are they ?

i am working with anaconda2 and used pip to install pylama
i am within site-package these folders :
![2017-11-01 09_35_40-site-pack

[2017-11-11 16:07] sebastianczech opened #51 "Failed to activate the linter-python package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.22.0 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.13.1
**Thrown From**: [linter-python](https://github.com/pchomik/linter-python) package 3.1.2

### Stack Trace

Failed to activate the linter-python package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-12-01 01:44] ghost opened #52 "Fixing E128 doesn't work"
I had a function like this:

[code]

Which generates a E128 error.

So I fixed as follows:

[code]

But this fix doesn't seem to satisfy the linter-python.

[2018-01-01 20:20] rjshaver commented on #50
Trying to set up on windows 10 machine.  I installed pylama in Python 2.7.  Pylama is trying to work, but I continue to get an error saying to look in View,  Developer, Toggle Developer Tools.  I go there and find an error that it can not find a configuration file for pylama.  I looked for a way to generate a pylama configuration file and there are so many options, it is not clear how to set up.

[2018-02-02 13:17] jseiser opened #53 "virtualenv - E0401 Unable to import 'boto3' [pylint]"
Im running on arch linux.

- Atom 1.23.3
- linter-python 3.1.2

Executable Path is set to the below.

[code]

[justin@flexshot scripts]$ source .venv/bin/activate
(.venv) [justin@flexshot scripts]$ atom .
[code]

[2018-03-06 08:41] ginomempin opened #54 "Resolved lint warning/error message does not go away unless Atom is restarted"
I **_randomly_** encounter this issue wherein I've already resolved the linter warning/error but the warning/error message does not disappear **_until I've restarted Atom_**.

Here's a simple example:
![linter-python-warning](https://user-images.githubusercontent.com/6091865/37022497-81cd7b64-2166-11e8-90ad-bbbda4c2c3b5.png)

I originally had 2 blank lines, which triggered the warning.
But I've al

[2018-09-04 10:43] z00m1n commented on #49
same here

[2018-09-27 13:45] Alexander-Serov opened #55 "On Windows, pylava found by linter-python, but no warnings/errors shown in Atom"
On Windows, I have pylava installed and have set the path to pylava in the linter-python package settings. Linter-python does not complain at startup that the path is not find, so it sees it OK. However, no warnings or errors are shown in the Atom editor when working with a .py file. If I just launch pylava from the command line on the same file, it gives the output correctly. It seems like the in

[2018-12-27 15:25] ferares commented on #55
Same issue on Windows here, I've enabled the debug console output and Pylava is in fact found and produces output but nothing is shown in the GUI

This seems like a dead project but just in case here's part of the console printouts:

[code]
I've added the [...] in reality it shows the full path to the file correctly

[code]

[2019-01-26 20:54] tom-spalding opened #56 "manual pylama path selection doesnt work"
the manual path selection doesnt appear to work, and I'm not seeing any sort of debug infos on why. I turned on the "force" option, "debug" option, and closing-and-reopening atom. I also tried with the "pylint" option turned on and off to see if anything different happened.

![image](https://user-images.githubusercontent.com/2218331/51792612-594c5180-2168-11e9-947e-0d70b46960c1.png)

could this be

[2019-03-20 15:37] michalmiddleton opened #57 "Python linter no longer works with linter-2.3.0"
After updating linter to 2.3.0, linter-python no longer works.
Does it have something to do with

(from https://github.com/steelbrain/linter/blob/master/CHANGELOG.md)

Downgrading linter to 2.2.0 fixes the issue

[2019-03-20 16:47] Arcanemagus commented on #57
Your guess is absolutely correct:

----
In the [v2.3.0 release](https://github.com/steelbrain/linter/releases/tag/v2.3.0) of `linter` support for the v1 API was removed, breaking semver. This means that this provider is no longer supported by the current version of `linter`.

To get this provider working again it will need to be upgrade to the v2 API, a guide for accomplishing that can be found he

[2019-03-20 20:11] michalmiddleton commented on #57
Thanks @Arcanemagus , linter-pylama seems to be a good replacement!

[2019-04-26 04:16] ghost opened #58 "It doesn't do anything"
See screenshots for configuration. Executing `env/bin/pylama <file>.py` shows lots of errors on the console. In Atom (v1.36.1) nothing is highlighted.

<img width="790" alt="Screen Shot 2019-04-26 at 2 14 51 pm" src="https://user-images.githubusercontent.com/5118530/56783201-d5206d80-682d-11e9-8e4b-3d952751fcf1.png">
<img width="765" alt="Screen Shot 2019-04-26 at 2 14 35 pm" src="https://user-ima

[2019-04-26 18:46] Arcanemagus commented on #58
See https://github.com/pchomik/linter-python/issues/57#issuecomment-474925190.

[2019-05-05 15:56] ottok commented on #57
I have the same experience with linter-python stopping to work all of a sudden. Running Atom on Ubuntu installed via snap. Latest version of everything. I didn't understand the tips above on what I need to upgrade/downgrade, so I just switched to linter-pylama and that seems to work well!

[2019-05-14 12:32] pmury commented on #57
linter-pylama does not work either for me, while pylama on console works fine.

[2019-05-14 12:34] pmury commented on #57
`apm install linter@2.2.0` works, thanks!

[2019-11-16 21:46] jfernandz commented on #57
I cannot get it working with `linter@2.2.0` version even.

[2020-02-15 14:47] BenjaminLaschkar commented on #57
You can get it work by downgrading linter to 2.2 AND linter-ui-defaut to 1.7.1:

apm install linter-ui-default@1.7.1

[2020-10-15 19:46] edeljor opened #59 "Ignore Codes doesn't work"
Hi pchomik,
I'm using Atom 1.52, linter-python 3.1.2 and linter 3.1.1. Your package works very well with Pep8 except of the "Ignore Codes". I entered different Codes (E501, E266, W605), but linter shows me this Codes again.
Did I do anything wrong or are there other problems?
Best edeljor

[2020-11-28 04:43] joeashcraft commented on #51
I got this error today after migrating workstations, and was able to resolve it with the steps in https://github.com/pchomik/linter-python/pull/20#issuecomment-217813339
in my case, `apm link` did nothing as the files already exist, but `apm install` seems to fix things

I ran...
[code]

[2020-12-06 16:49] SolebaySharp opened #60 "Never detects any errors."
**Ubuntu 20.04.1 LTS**
**Atom 1.53.0**, **Hydrogen 2.14.6**, **hydrogen-python 0.0.8**
**Python 3.8.5**

I downloaded `linter-python` (3.1.2), along with any other dependencies that were required, and then installed `pylama` (7.7.1). I then installed `pylama-pylint` for good measure. Executable path set to `/usr/bin/pylama`.

I could see the GUI had been modified, with a little section on the bott

[2021-06-30 06:53] nergdron commented on #60
I'm seeing this same issue on atom 1.57.0-1.

[2022-09-14 18:22] laraconda opened #61 "Doesn't work. Don't even try."
I guess its my fault for downloading atom in 2022.